<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
      tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DefaultAppTheme"
        tools:targetApi="31">

      <receiver
        android:name=".SmsSniffer"
        android:exported="true">
        <intent-filter>
          <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        </intent-filter>
      </receiver>
      <receiver
          android:name=".MmsSniffer"
          android:exported="true">
          <intent-filter>
              <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>
              <data android:mimeType="application/vnd.wap.mms-message"/>
          </intent-filter>
      </receiver>
      <service
        android:name=".WatchdogService"
        android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
          android:name=".crashcar.CrashCarActivity"
          android:label="GhostSMS Crash Log"
          android:exported="true" />
    </application>
</manifest>
