name: Android CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Speak 'Friend' And Enter
        run: |
          ls -R
          file gradle/wrapper/gradle-wrapper.jar
          ./gradlew --version

      - name: Be Ye Disablin' Of Yon Shielde
        run: ./gradlew lint

      - name: Must Do Work
        run: ./gradlew test

      - name: Build APK
        run: ./gradlew assembleDebug
